<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        h1 hello world
ul
    li
    li
    li tyyr
    li gethsrth
    li Далеко-далеко за, словесными горами в стране гласных и согласных 
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vitae. Velit molestiae animi quasi corrupti, aliquid tempore, suscipit doloremque deleniti rem molestias, voluptatum autem alias nesciunt inventore quibusdam neque est.